.card-body {
  max-width: 400px;
}
.card-img {
  width: 185px;
}
.btn-login {
  height: 56px;
  width: 100%;
  font-size: 1.5rem;
  background-color: #fff;
  color: #ffcc21;
  border: 1px solid #ffcc21;
}
.btn-login:hover,
.btn-login:active,
.btn-login:focus-visible {
  background-color: #ffcc21 !important;
  color: #fff;
  border: 1px solid #ffcc21 !important;
}
.login-wrapper {
  height: calc(100vh - 192px);
}
