.recommend-card {
  background-color: #2e2e2e;
  width: 21.6rem;
  text-align: center;
  padding: 2.4rem 1.6rem;
  cursor: pointer;
}
.recommend-card .title {
  color: #ffcc21;
  font-size: 2.2rem;
  font-weight: 400;
}
.recommend-card .desc {
  color: #fff;
}
.recommend-card hr {
  margin: 1rem auto;
  color: #fff;
  width: 5.6rem;
}

.column-card {
  width: 23.4rem;
  border: 0;
  padding: 0;
}
.column-card,
.card-img-top {
  border-radius: 0;
}
.column-card-title {
  font-size: 1.5rem;
  color: #414141;
}
.column-page .card-body {
  padding-left: 0;
  padding-right: 0;
}
.tag-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.tag-item {
  font-size: 1.2rem;
  color: #ff963c;
  font-weight: 300;
  margin-right: 1.5rem;
}
.badge-time {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.5rem;
  background-color: #ffcc21;
  color: #fff;
  padding: 0.3rem 0.8rem;
}
