@font-face {
  font-family: "Archivo Narrow";
  src: local("Archivo Narrow"),
    url(./fonts/NotoSansJP-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Archivo Narrow";
  font-weight: 900;
  src: local("Archivo Narrow"),
    url(./fonts/NotoSansJP-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Archivo Narrow";
  font-weight: 900;
  src: local("Archivo Narrow"),
    url(./fonts/NotoSansJP-Black.otf) format("opentype");
}

body,
html {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 10px;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
}
.container {
  max-width: 960px;
}
a,
p {
  font-size: 1.6rem;
  margin: 0;
}
.container-page {
  margin: 56px auto;
  position: relative;
}
.btn-loadmore {
  height: 5.6rem;
  width: 29.6rem;
  background: linear-gradient(32.95deg, #ffcc21 8.75%, #ff963c 86.64%);
  color: #fff;
  font-size: 1.8rem;
  border: none;
  margin-top: 2.8rem;
}
.card-list {
  margin-top: 56px;
  margin-bottom: 56px;
}
.goToTop {
  position: absolute;
  right: -80px;
  bottom: 80px;
  width: 4.8rem;
  height: 4.8rem;
  border: 1px solid #777777;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #777;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background: #ffcc21;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffcc21;
}
.form-control {
  height: 56px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  body,
  html {
    font-size: 8px;
    width: auto;
  }
}
